*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
/* se configura la animacikon */
.circulo{
    height: 100px;
    width: 100px;
    
    background-color: red;
    border-radius: 50%;
    /* animation-name : referencia de mi animacion */
    animation-name: cambiarcolores;
    /* cuanto va durar la animacion */
    animation-duration: 10s;
    /* los keyframes se definen con el @keyframes nombre{0% {propiedad:Valor} 100%{propiedad:valor}(sin comillas) */
    /* animation-deley tiempo en que va tardar en comenzar la animacion */
    animation-delay: 2s;
    animation-timing-function: ease-in;
}
@keyframes cambiarcolores{
    /* #%{el porcenje:valor} */
    0%{
        background-color: orange;
    }
    25%{
        background-color: #00bbcc;
        /* scale, va escalar mi elemto en valores a partir de cero en decimale a mas de uno */
        transform: scale(0.5);
    }
    50%{
        background-color: green;
        transform: scale(1.3);
    }
    75%{
        background-color: indianred;
        transform: scale(0.2);
    }
    100%{
        background-color: slateblue;
        transform: scale(1.3);
    }
}   
.cajita{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    /* animation-name: transformarcaja;
    animation-duration: 10s; */
    /* animation me va agrupar varias propiedades */
    animation:transformarcja 10s ;
    
}
@keyframes transformarcaja{
    0%{
        background-color: lightgray;
        transform: translate(0%,0%);
    }
    25%{
        background-color: gray;
        border-radius: 50%;
        /* si resibe un parametro se movera solo en el eje x */
        transform: translate(400px);
    }
    50%{
        background-color: lightblue;
        /* si resive dos parametros se movera en el eje x and y */
        transform: translate(300px,500px);
    }
    75%{
        background-color: purple;
        /* rotate, rotara un elemnto segun la cantidad de grados que le de */
        transform:translate(200px,200px) rotate(45deg);
    }

}
.practica{
    width: 100px;
    height: 100px;
    animation:plane 10s ;
    text-align: center;
    margin: auto;
}
@keyframes plane{
    0%{
        
        transform: rotate(0deg);
    }
    25%{
        transform:translate(500px,0px) 
     }
    50%{
        transform:translate(500px,600px) rotate(180deg);
    }
    75%{
         transform:translate(0px,600px) rotate(270deg); 
    } 
    100%{
        transform:translate(0px,0px) rotate(360deg); 
    }
}

