/* toda las etiquetas que sean li y a se veran afectadas */
li, a{
    color:purple;
}
/* Llamar a los hijos a cualquier nivel , h2 
 que sean hijos de section utilizarane stos 
 estilos*/
section h2{
    color:orange;
} 
/* esto va aplicar a todos los hijos quue sean directos en un primer nivel */
article > h3, .aqua{
    background-color: slateblue;
}
/* afectara a los label hijos de primer nivel */
form >label{
    border: 1px solid blue;
}

.texto-grande{
    font-family: 'Times';
    font-size:80px;
}
/* todos los h1 que tengan como clase texto-grande
 */
h1.texto-grande{
    font-size: 50px;
    font-family:'Helvetica';
}
h2.texto-grande{
    background-color: yellowgreen;
}
/* selectores de etiquetas pero con atributos */
input[name]{
    background-color: chocolate;
    border: 2px dashed gold;
}
p[name="parrafo2"]
{
    font-size: 20px;
    color:red;
    background-color: orange;
}
input[type="email"]
{
    color:salmon;
}
#contacto textarea{
    color:mediumorchid;
    border: 2px solid red;
    
}