*{
    padding: 0;
    width: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.tabla{
    width: 80%;
    height: 40%;
    margin: 10px auto;
    text-align: left;
   
}
.tabla tr{
    height:120px;
}
/* cogera el primer elemento */
th:first-child{
    background-color:#E6F49A;
    padding: 10px;
    font-size: 18px;
}
.tabla td{
    padding: 10px;
    font-size: 16px;
}

.imagen{
    width: 30%;
    text-align: center;
    padding: 10px;

}
.imagen img{
    width: 50%;
    /* height: 90%; */
}