*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
}

section{
    border: 1px solid red;
    height: 600px;
    
    /* me va permitir cambiar su posicion relativa a su posicion original */
    position: relative;
    top :100px;
    /* se puede aplicar propiedades como left right botton */
}
.articulo1{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    position: relative;
    /* left: 50%;
    top: 50%; */
    /* calc(n1 - n2) */
    left: calc(50% - 50px);
    top:calc(50% - 50px);
}
.articulo2{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background-color: blue;
    /* el position absolute removera el elemnto de la estructura */
    /* y su posiscionamiento sera segun su contenedor padre */
    position:absolute;
    top: 10px;;
    right: 10px;
}
.articulo3{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background-color: orange;
/* fixet se acomodara segun la ventana */
    position: fixed;
    right: 10px;
    bottom: 10px;
}